#discover-main{
    margin-top: 88px;
 }
 
 #discover-head{
     display: flex;
     flex-direction: row;
     /* text-align: center; */
     justify-content: space-between;
     align-items: center;
     height: 550px;
     width: 100%;
 }

 #discover-head::before{
    content:"";
    position:absolute;
    background: url("https://images.unsplash.com/photo-1564522571711-0b86a2dbc5a2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: 0.8;
}

#discover-head-content{
    width: 50%;
    padding:20px;
    text-align: center;
}

#discover-head-title{
    color: white;
    font-size: 35px;
}

#discover-head-text{
    margin: 10px 0px;
    color: white;
    text-align: center;
}

#discover-form-container{
    padding: 30px;
    width:40%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

#discover-form-container input{
    width:100%;
    margin-bottom: 10px;
    padding: 5px 8px;
    border-radius: 5px;
}

.form-element{
    display: flex;
    flex-direction: column;
}

.form-element label{
    color: white;
}

#discover-explore{
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

#explore-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

.explore-content img{
    height: 200px;
    width: 250px;
    border-radius: 7%;
}

#discover-table{
    padding: 30px 10px;
}

#discover-table h2{
    text-align: center;
}




