/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500;600;700&display=swap");

/* Css Variables */

:root {
  /* --header-height: 3rem; */

  /* Color Variables */
  --green-color: #14505c;
  --light-green-color: #0e373f;
  --title-color: #11414b;
  --text-color: #44686f;
  --light-text-color: #919ea1;
  --input-color: #f6f9f9;
  --body-color: #fafeff;
  --white-color: #ffffff;
  --scroll-bar-color: #e2e8e9;
  --scroll-thumb-color: #b8c4c7;

  /* Fonts */
  --body-font: "Poppins", sans-serif;
  --title-font: "Open Sans", sans-serif;
  --large-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --smaller-font-size: 0.85rem;

  /* Font Weights */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Image Hover Overlay */
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);
}

/* Base Css */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
}

/* h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
} */

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--smaller-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/*  */
.s-container{
    padding: 100px 200px 100px 200px;
}

.service_header{
    background: #f9f9f9;
    margin-top: 90px;
}


.service-grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.service-grid-image{
    height: 550px;
    width: 500px;
    margin: auto;
}

img.service-grid-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-grid-heading h1{
    font-size: 55px;
    font-weight: bolder;
    color: #0e373f;
}

.service-grid-text-item {
    padding: 100px 100px 0px 0px;
}

.service-grid-text p{
    font-size: 14px;
    font-weight: 200;
    color: #919ea1;
}

.service-grid-caption{
    font-weight: 900;
    color: #f39c12;
}

.service_destinations{
  height: auto;
} 

.service-destination-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
}

.service-destionation-cards{
  width: 300px;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 20px 19px 11px #ececec;
  align-items: center;
  justify-self: center;
  overflow: hidden;
}
.service-destionation-cards:hover{
  cursor: pointer;
  transition: 0.2s;
  box-shadow: -4px 20px 20px 20px #e4e4e4;
  overflow: hidden;
}

.cards-img {
  height: 300px;
  width: 300px;
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  transition: 0.5s;

}

.service-image:hover .cards-img{
  transform: scale(1.1);
  overflow: hidden;
  transition: 0.5s;
}

.service_cards_body{
  padding: 10px;
}

.service_cards_body:hover{
  color: #f39c12;
  cursor: pointer;
}

.text-center{
    text-align: center;
    margin: 50px 0px;
}

.text-center p{
    font-size: 24px;
    font-weight: 600;
    color: var(--green-color);
}

.text-center span{
    font-size: 14px;
    font-weight: 600;
    color: #f39c12;
}

.service-body-bottom p{
    font-weight: 300;
    margin-top: 20px;
}

/* Accordin css */

/*Section used for centering process*/
.service_offer{
  background-color: #f9f9f9;
  padding: 20px;
  width: 100%;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-container{
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.accordion-item{
  background-color: #f9f9f9;
  border-radius: .4rem;
}

.accordion-item hr{
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.accordion-link{
  font-size: 1.6rem;
  color: rgba(255,255,255,.8);
  text-decoration: none;
  background-color: var(--green-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}

.accordion-link h3{
  font-weight:500;
  font-size: 20px;
  color: #f1f1f1;
}

.accordion-link i{
  color: #e7d5ff;
  padding: .5rem;
  
}

.accordion-link ul{
  display:flex;
  align-items: flex-end;
  list-style-type: none;
  margin-left: 25px;
}

.accordion-link li{
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  padding: 0 0 1px 5px;
}

.accordion-link div{
  display: flex;
}

.accordion-link .ion-md-arrow-down{
  display: none;
}

.answer{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: var(--white-color);
  transition: max-height 650ms;
}

.answer p{
  color: var(--light-text-color);
  font-size: 15px;
  padding: 2rem;
  
}

.accordion-item:target .answer{
  max-height: 20rem;
}

.accordion-item:target .accordion-link .ion-md-arrow-forward{
  display: none;
}
  
.accordion-item:target .accordion-link .ion-md-arrow-down{
  display: block;
}

/* Media Query */

@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1024px) {

  .s-container{
    padding: 20px 150px
  }

  .service-grid-container{
    display: grid;
    grid-template-columns: 1fr ;
  }

  .service-grid-text-item{
    padding: 100px;
  }

  .service-grid-image{
    width: 420px;
    height: 450px;
  }

  .service-destination-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }

}

@media only screen and (max-width: 768px) {
  .s-container{
    padding: 0;
  }
  .service-grid-text-item{
    padding: 30px;
  }

    .service-destination-grid{
    display: grid;
    grid-template-columns: 1fr ;
  }
}

@media only screen and (max-width: 425px) {
  .service-grid-heading h1{
    font-size: 25px;
  }

  .service-grid-text p{
    font-size: 12px;
    width: 80%;
  }

  .service-grid-image{
    width: 250px;
    height: 300px;
  }
}

@media only screen and (max-width: 375px) {
  
}

@media only screen and (max-width: 320px) {
  
}