/* About us header image section */
#aboutus-main{
   margin-top: 88px;
}

#about-head{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 200px;
    height: 550px;
}

#about-head-title{
    color: white;
    font-size: 35px;
}

#about-head-text{
    margin: 10px 0px;
    color: white;
    text-align: center;
}

#about-head::before{
    content:"";
    position:absolute;
    background: url("https://images.unsplash.com/photo-1445307806294-bff7f67ff225?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=874&q=80") no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index:-1;
    opacity: 0.8;
}

/* About us detail section */
#about-detail{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    background-color: #eee;
}

#about-detail-title{
    text-align: center;
    margin-bottom: 10px;
}

#about-detail-text{
    padding: 20px;
}

#about-detail-para{
    margin: 10px 0px;
}

#about-detail-list{
    list-style: disc;
}

#about-detail-list-title{
    margin: 5px 0px;
}

#about-detail-list-title-mb{
    display: none;
}

#about-detail-last-para{
    margin-top: 10px;
}

/* About us testimonial section */
#about-testimonials{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    background-color: #fff;
    padding: 30px;
}

#testimonials-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}

#testimonials-content{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width:350px;
    padding:10px;
    margin:15px;
}

#testimonials-title{
    font-size: 30px;
}

#testimonials-image{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 8px 0px;
}

#testimonials-client-place{
    font-size: 12px;
}

/* Media Queries */
@media only screen and (max-width: 768px){
    #about-head{
        padding:20px;
    }
    #about-detail{
        flex-direction: column;
        align-items: center;
    }

    #about-detail-text{
        text-align: justify;
    }
    #about-detail-image{
        height: 200px;
        width:200px;
    }
    #testimonials-container{
        justify-content: center;
    }
    #testimonials-content{
        width:100%;
    }
    #about-detail-para{
        display: none;
    }
    #about-detail-p{
        display: none;
    }
    #about-detail-last-para{
        display:none;
    }
    #about-detail-list-title{
        display: none;
    }
    #about-detail-list-title-mb{
        display: block;
        margin: 5px 0px;
    }
}