/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500;600;700&display=swap");

/* Css Variables */

:root {
  --header-height: 4rem;

  /* Color Variables */
  --green-color: #0e373f;
  --light-green-color: #14505c;
  --title-color: #11414b;
  --text-color: #44686f;
  --light-text-color: #919ea1;
  --input-color: #f6f9f9;
  --body-color: #fafeff;
  --white-color: #ffffff;

  /* Fonts */
  --body-font: "Poppins", sans-serif;
  --title-font: "Open Sans", sans-serif;
  --large-font-size: 2.5rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --smaller-font-size: 0.85rem;

  /* Font Weights */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* Image Hover Overlay */
  --img-transition: 0.3s;
  --img-hidden: hidden;
  --img-scale: scale(1.1);

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --large-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1rem;
    --smaller-font-size: 0.85rem;
  }
}

/* Base CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: var(--title-font);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img,
video {
  max-width: 100%;
  height: auto;
}

button,
input {
  border: none;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

button {
  cursor: pointer;
}

input {
  outline: none;
}

/* Css Classes */
.section {
  padding: 4.5rem 0 2.5rem;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 2rem;
}

.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* Header */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* Nav */
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  height: 3rem;
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__menu {
  position: relative;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background-color: var(--body-color);
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    box-shadow: -1px 0 4px rgba(14, 55, 63, 0.15);
    padding: 3rem;
    transition: 0.4s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--text-color-light);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
}

.nav__link:hover {
  color: var(--green-color);
}

.nav__close {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;
}

/* show menu */
.show-menu {
  right: 0;
}

/* Scroll Header */
.scroll-header .nav__toggle {
  color: var(--green-color);
}

/* Active link */
.active-link {
  position: relative;
  color: var(--title-color);
}

.active-link::before {
  content: "";
  position: absolute;
  background-color: var(--title-color);
  width: 100%;
  height: 2px;
  bottom: -0.75rem;
  left: 0;
}
/* Home */
.home__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: 80%;
}

.home__container {
  position: relative;
  height: calc(100vh - var(--header-height));
  align-content: center;
  row-gap: 3rem;
}

.home__data-subtitle,
.home__data-title {
  color: var(--green-color);
}

.home__data-subtitle {
  display: block;
  font-weight: var(--font-semi-bold);
  margin-bottom: 0.75rem;
}

.home__data-title {
  font-size: var(--h1-font-size);
  font-weight: var(--font-medium);
  margin-bottom: 2.5rem;
}

/* Button */
.button {
  display: inline-block;
  background-color: var(--green-color);
  color: var(--white-color);
  padding: 0.5rem 0.8rem;
  font-weight: var(--h3-font-size);
}

.button:hover {
  background-color: var(--light-green-color);
}

/* Services */
.services__content {
  color: var(--green-color);
  font-size: var(--h3-font-size);
  text-align: center;
}

/* Discover */
.discover__card {
  position: relative;
  overflow: hidden;
}

.discover__content,
.discover__duration {
  color: var(--white-color);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.discover__rating {
  color: var(--white-color);
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
}

/* Experience */
.experience__container {
  row-gap: 2.5rem;
  justify-content: center;
  justify-items: center;
}

.experience__content {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  justify-items: center;
  padding: 2rem;
}

/* Video and audio */
.video__container {
  padding-bottom: 1rem;
}

.video__description {
  text-align: center;
  margin-bottom: 2.5rem;
}

.video__content {
  position: relative;
}

.video__button {
  position: absolute;
  top: 38%;
  left: 45%;
  padding: 0.5rem 1rem;
}

.video__button-icon {
  font-size: 1.2rem;
}

.audio__content {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Partners */
.partners__container {
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  justify-items: center;
  row-gap: 3.5rem;
}

/* Footer */
.footer__container {
  row-gap: 5rem;
}

.footer__content {
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  row-gap: 2rem;
}

.footer__title,
.footer__subtitle {
  font-size: var(--h3-font-size);
}

.footer__title {
  margin-bottom: 0.5rem;
}

.footer__description {
  margin-bottom: 2rem;
}

.footer__social {
  font-size: 1.25rem;
  color: var(--title-color);
  margin-right: 1.25rem;
}

.footer__subtitle {
  margin-bottom: 1rem;
}

.footer__item {
  margin-bottom: 0.75rem;
}

.footer__link {
  color: var(--text-color);
}

.footer__rights {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  text-align: center;
}

.footer__copy,
.footer__terms-link {
  font-size: var(--smaller-font-size);
  color: var(--light-text-color);
}

.footer__terms {
  display: flex;
  column-gap: 1.5rem;
  justify-content: center;
}

/* Scroll Up */
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -20%;
  background-color: var(--green-color);
  padding: 0.5rem;
  display: flex;
  opacity: 0.9;
  z-index: var(--z-tooltip);
}

.scrollup__icon {
  color: var(--white-color);
}

/* Show Scroll */
.show-scroll {
  bottom: 5rem;
}

/* Media Queries */
@media screen and (min-width: 568px) {
  .video__container {
    display: grid;
    grid-template-columns: 0.6fr;
    justify-content: center;
  }

  .discover__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__link {
    color: var(--text-color-light);
    text-transform: initial;
  }
  .nav__link:hover {
    color: var(--green-color);
  }

  .nav__menu {
    display: flex;
    column-gap: 1rem;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 1rem;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .section {
    padding: 5rem 0 2rem;
  }

  .home__container {
    height: 100vh;
    grid-template-columns: 1.8fr 0.5fr;
  }

  .home__data {
    align-self: flex-end;
  }

  .services__container {
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .footer__rights {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .home__container {
    grid-template-rows: 2fr 0.5fr;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1024px;
  }
}
