/* Utopia Blog Stylesheet V 1.0.0
 * Date: 12-01-2021
 * By: Jorich Ponio
 */

 /*Parent CSS */
 @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@500;600;700&display=swap");
 @import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"); 

:root {
    --header-height: 3rem;
  
    /* Color Variables */
    --green-color: #14505c;
    --light-green-color: #0e373f;
    --title-color: #11414b;
    --text-color: #44686f;
    --light-text-color: #919ea1;
    --input-color: #f6f9f9;
    --body-color: #fafeff;
    --white-color: #ffffff;
    --scroll-bar-color: #e2e8e9;
    --scroll-thumb-color: #b8c4c7;
  
    /* Fonts */
    --body-font: "Poppins", sans-serif;
    --title-font: "Open Sans", sans-serif;
    --large-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --smaller-font-size: 0.85rem;
  
    /* Font Weights */
    --font-medium: 500;
    --font-semi-bold: 600;
  
    /* Image Hover Overlay */
    --img-transition: 0.3s;
    --img-hidden: hidden;
    --img-scale: scale(1.1);
  }
  
  /* Base CSS */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
  }
  
  h1,
  h2,
  h3 {
    font-weight: var(--font-semi-bold);
    font-family: var(--title-font);
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
  }
  
  button,
  input {
    border: none;
    font-family: var(--body-font);
    font-size: var(--smaller-font-size);
  }

  button {
    cursor: pointer;
  }
  
  input {
    outline: none;
  }
  /* End of Parent CSS Reference */

  /*1. Hero Image **/
  .hero {
    min-height: 50vh;
    display:grid;
    justify-items: center;
    align-content: center;
    justify-content: center;
    background:linear-gradient( #14505cc2, #14505c7c), url("../img/hero.jpg");
    width: 100%;
    height: auto;
    margin: 2% 0;
    color: white;
    overflow: hidden;
    background: 0e373f;  /* fallback for old browsers */
    background-size:cover;
    background-repeat: no-repeat;
    font-size: 40px;
    text-transform: uppercase;

  }
  
  /*2. Grid Layout Display */
  .grid_card {
    display: -ms-grid;
    display: grid;
    width: 90%;
    max-width: 85% /*1024px*/;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }

  /* Default/Desktop Styles */
  .main-content {
    /*-ms-grid-column: 2;
    -ms-grid-column-span: 10;
    grid-column: 2 / 12;*/
  }

  .top_articles {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 15px;
  }


  .recent_post {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
  }

  .recent_post .recent-card-layout {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .recent_post__recent img {
    width: 100%;
  }

  .popular_posts img {
    width: 150%;
    height: 150px;
  }

  .popular_posts ul {
    margin: 0;
    padding: 0;
  }

  .popular_posts-item {
    font-size: 12px;
    display: table;
    margin-bottom: 10px;
    font-weight: 200;
  }

  .popular_posts-item a {
    text-decoration: none;
    padding: 0 5px;
    display: table-cell;
    vertical-align: top;
  }

  .popular_posts-item a h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #14505c;
    margin: 0;
    text-transform: uppercase;
  }

  .popular_posts-item-image {
    width: 110px;
  }

  .popular_posts-excerpt {
    margin-left: 18%;
    font-size: 13px;
    font-weight: var(--light-green-color);
}

  .section_title {
      font-family: "Open Sans", sans-serif;
      font-weight: 800;
      margin: 20px 0 30px;
      font-size: 20px;
      text-transform: uppercase;
      color: #14505c;
  }

  .posts_box {
    position: relative;
    overflow: hidden;
  }

  .posts_box img {
    width: 100%;
  }

  .posts_box.posts_box--contents > a:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: -webkit-gradient(linear, left bottom, left top, from(rgb(20, 80, 92,0.9)), to(transparent));
    background: linear-gradient(to top, rgba(108, 119, 121, 0.9) 0%, transparent 100%);
  }

  .posts_box__body {
    font-family: "Open Sans", sans-serif;
    padding: 10px 10px 20px;
    color: #14505c;
    overflow: hidden;
  }

  .posts_box__body a {
    font-weight: 400;
    color: #14505c;
    text-decoration: none;
    font-size: 18px;
    line-height: 1.5;
  }

  .posts_box__body h3 {
    margin: 0;
    padding: 0;
  }

  .posts_box__meta {
    font-size: 12px;
    margin-bottom: 10px;
    display: block;
  }

  .posts_box--contents .posts_box__body {
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #fff;
  }

  .posts_box--contents .posts_box__body a {
    color: #fff;
  }

  /*Social Media Icons */
  .fa {
    padding: 10px;
    font-size: 20px;
    width: 40px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa-pinterest {
    background: #cb2027;
    color: white;
  }
  
  .fa-rss {
    background: #ff6600;
    color: white;
  }

  /*Blog Button, Pagination*/  
  .blog-btn {
    display: inline-flex;
    position: relative;
    cursor: pointer;
    padding: 15px;
    color: #fff !important;
    background:#14505c;
    margin: 10px 2px;
  }
  .blog-btn:hover {
    background-color:#fff;
    color: #14505c !important;
    border:2px solid #14505c;
  }
  .blog-btn:active {
    position:relative;
    top:1px;
  }

  /*Sidebar Ads */
  .sidebar-ads {
      background-image: url("../img/ads-space.png");
      width: 130%;
      height: 30%;
      background-repeat: no-repeat;
      background-size: contain;
      margin-top: 3%;
  }

  /* Responsive Layout breakpoint for Tablets/iPads */
  @media (max-width: 980px) {
    .recent_post {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }

    .popular_posts ul {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      grid-gap: 15px;
    }
  }

  /* Responsive Layout breakpoint extra small devices (phones, 675px and down) */
  @media (max-width: 675px) {
    .main-content {
      -ms-grid-column: 1;
      -ms-grid-column-span: 12;
      grid-column: 1 / 13;
      padding: 0 15px;
    }

    .top_articles {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }

    .popular_posts ul {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
      grid-gap: 15px;
    }

    .recent_post__recent-item--first {
      grid-column: span 2;
    }

    .recent_post .recent-card-layout {
      -ms-grid-columns: 1fr;
          grid-template-columns: 1fr;
    }

  }
  
